{
	"parser": "@babel/eslint-parser",
	"extends": ["eslint:recommended", "plugin:react/recommended",   "prettier"],
	"plugins": ["simple-import-sort", "sort-destructure-keys", "prettier"],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"rules": {
		"prettier/prettier": "error",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"sort-keys": "warn",
		"sort-destructure-keys/sort-destructure-keys": "error",
		"no-unused-vars": "warn",
		"react/prop-types": "warn",
		"react/react-in-jsx-scope": "warn",
		"react/no-unescaped-entities": "warn",
		"react/display-name": "warn"
	}
}
