{
	"parser": "@babel/eslint-parser",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": ["simple-import-sort", "sort-destructure-keys"],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"globals": {
		"BigInt": true
	},
	"rules": {
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"sort-keys": "error",
		"sort-destructure-keys/sort-destructure-keys": "error"
	}
}
