.EnterPassword_buttons_container {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.EnterPassword_buttons {
	justify-content: space-between;
	flex-direction: row;
	display: flex;
	width: 100%;
}

.EnterPassword_full_width {
	width: auto;
}

@media screen and (max-width: 1025px) {
	.EnterPassword_buttons {
		justify-content: center;
		width: 100%;
		flex-direction: column-reverse;
	}

	.EnterPassword_full_width {
		width: 100%;
		&.margint {
			margin-top: 6%;
		}
		&.marginb {
			margin-bottom: 6%;
		}
	}
}
