@mixin for-phone-only {
	@media screen and (max-width: 400px) {
		@content;
	}
}

.container {
	padding: 25px;
	border-radius: 50px;
	border: 1px solid #eee;
	border-radius: 24px;

	@include for-phone-only {
		margin: 0 15px;
	}
}

.title {
	@include for-phone-only {
		font-size: 16px;
	}

	font-size: 20px;
}

.paragraph {
	@include for-phone-only {
		font-size: 16px;
		text-align: center;
	}

	font-size: 20px;
}
