.SlippagePopper_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.SlippagePopper_slippage_container {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.SlippagePopper_slippage_text {
	margin-bottom: 15px;
}
